<a href="https://colab.research.google.com/github/falakj07/basics-of-python-/blob/main/basics_of_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Many Statements
print("Hello World ")
print("Have a good day")
print("Learning a Python is fun!")

Hello World
Have a good day
Learning a Python is fun!

In [ ]:
print("Hello world.", end=" ")
print("I will print on the same line .")

Hello world. I will print on the same line .

In [ ]:
#Print numbers
a = 3
print(a)
print(358)
print(500.200)

3
358
500.2

In [ ]:
# Understanding data type
x= 10
y = 3.14
z = "Python"
A= True
C = 3+2j

print(type(x))
print(type(y))
print(type(z))
print(type(A))
print(type(C))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'complex'>

In [ ]:
# Many Values to MUltiple variables
x,y,z = "Orange","Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [ ]:
# Variables
x = 5
y = "Hello, world!"

In [ ]:
# Case sensitive
a = 4
A = "Sally"

print(a)
print(A)

4
Sally

In [ ]:
# Basic Arithmetic Operations
a = 10
b = 5

print("Addition =", a + b)

Addition = 15

In [ ]:
print("Subtraction =", a - b)

Subtraction = 5

In [ ]:
print("Multiplication =", a * b)

Multiplication = 50

In [ ]:
print("Division =", a / b)

Division = 2.0

In [ ]:
# Taking Input from User
name = input("Enter your name: ")
age = int(input("Enter your age: "))

print("Name:", name)
print("Age:", age)

Enter your name: falak
Enter your age: 18
Name: falak
Age: 18

In [ ]:
# Write a program for Simple Calculator
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

print("Sum =", a + b)
print("Difference =", a - b)
print("Product =", a * b)
print("Quotient =", a / b)

Enter first number: 20
Enter second number: 30
Sum = 50
Difference = -10
Product = 600
Quotient = 0.6666666666666666

In [ ]:
# Take marks from 5 studetns and find sum and average
a = int(input("Enter your marks: "))
b = int(input("Enter your marks: "))
c = int(input("Enter your marks: "))
d = int(input("Enter your marks: "))
e = int(input("Enter your marks: "))
print("Sum= ", a+b+c+d+e)
print("Average= ", (a+b+c+d+e)/5)

Enter your marks: 54
Enter your marks: 46
Enter your marks: 49
Enter your marks: 53
Enter your marks: 50

TypeError: 'tuple' object is not callable

In [ ]:
#Find area and perimeter of rectangle
l = int(input("Enter length of rectangle:"))
b = int(input("Enter breadth of rectangle:"))
area = l*b
perimeter = 2*(l+b)
print("Area of circle=", area)
print("Perimeter of circle=", perimeter)

Enter length of rectangle:10
Enter breadth of rectangle:20

TypeError: 'tuple' object is not callable

In [ ]:
# Write a Python program to find the area of a circle.
r = float(input("Enter radius: "))
area = 3.14 * r * r
print("Area of circle =", area)

Enter radius: 14
Area of circle = 615.44

# New Section